.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;  
}
.table {
    width: 500px;
    height: 500px;
    border: 2px solid rgb(149, 163, 198);
    box-shadow: 0 6px 8px 4px rgba(77, 77, 77, 0.15);   
   
}

.row {
    font-size:x-large;
    font-family:Arial, Helvetica, sans-serif;
    /* border: 1px solid rgb(181, 191, 216); */
    /* background-color: rgb(18, 36, 81); */
}
.category {
    border: 1px solid rgb(211, 219, 239);
    background-color: rgb(18, 36, 81);
}

.box {
    width: 68px;
    border: 1px solid rgb(211, 219, 239);
    user-select: none;
    /* background-color: rgb(18, 36, 81); */
}
.box:hover {
    color: rgb(241, 160, 67);
}